<script src="/controllers/newCatch.js"></script>

<body class="content">
 	<div class="padding" align="center">
		<h3> Thanks for registering your new catch, Nabil!</h3>	
		<p align="left">You are near Malabo, Cameroon.Your coordinates are:</p> 
		<table width="250px" >
			<tr>
				<th>Type</th>
				<th>Latitude</th>
				<th>Longitude</th>
			</tr>
			<tr>
				<th>DD</th>
				<th>3.7573</th>
				<th>9.1209</th>
			</tr>
    	</table>
    	<hr style="width: 75%"/>

		<p> Today you can catch the following types of fish:</p>
		<img src="http://localhost/img/fish1.png" align "center"><br/>
		<img src="http://localhost/img/fish2.png"> <br/>
		<img src="http://localhost/img/fish3.png"> <br/>
		<p>The total amount you are allowed to catch is<br/> <b>2 kg</b></p><br/>
		<img src="http://localhost/img/QRcode.png"> <br/>

    </div>
</body>