<script src="/controllers/userProfile.js"></script>

<body class="content">
 	<div class="padding" align="center">
		<h1> Thanks for regestering your new catch Nabil!</h1>	
	</div>

    <div class="padding" align="center">
    	<table>
		<tr><p>Welcome back! Here are the areas you can legally fish today:</p></tr>
		<tr>
			<img src="http://localhost/img/new_map.png"> 
		</tr>
		<tr>
			<button class="button button-block button-positive" onClick=openLayer('userProfile/userProfile.html'))>Register new catch</button>
			
		</tr>
		</table>

    </div>
  </div>
</body>