<script src="/controllers/newCatch.js"></script>

<body class="content">
 	<div class="padding" align="center">
		<h3> Thanks for registering your new catch Nabil!</h3>	
	</div>

    <div class="padding">
    	<p>You are near Malabo, Cameroon.Your coordinates are:</p> 
		<table >
			<tr>
				<th>Type</th>
				<th>Latitude</th>
				<th>Longitude</th>
			</tr>
			<tr>
				<td>DD</td>
				<td>3.7573</td>
				<td>9.1209</td>
			</tr>
    	</table>
    	<table>
		<tr> </tr>
		<tr>
			<img src="http://localhost/img/new_map.png"> 
		</tr>
		<tr>
			<button class="button button-block button-positive" onClick=openLayer('userProfile/userProfile.html'))>Register new catch</button>
			
		</tr>
		</table>

    </div>
  </div>
</body>