<script src="/controllers/login.js"></script>

<body class="content">
    <div class="padding" align="center">
    <h1>Login</h1>

    <p>Please enter your login details</p>

    <form class="pure-form">
      <fieldset class="pure-group">
        <input class="pure-input-1-2" type="text" name="userName" placeholder="User Name:" required><br>
        <input class="pure-input-1-2" type="password" name="password" placeholder="Password:" required><br>

        <button class="button button-block button-positive" onClick=openLayer('userProfile/userProfile.html')>Login</button>

      </fieldset>
    </form>

  </div>
</body>
