<script src="/controllers/userProfile.js"></script>

<body class="content">
  <div class="padding" align="center">
		<table style="width:300px">
		<tr>
		  <td> <h1 class = "middle">Hi Nabil</h1></td>
		  <td> <img src="http://localhost/img/ProfilePic.jpg" width = "120px" height = "100px"> </td> 
		</tr>
		</table>
	</div>

    <div class="padding" align="center">
    	<table>
		<tr><p>Welcome back! Here are the areas you can legally fish today:</p></tr>
		<tr>
			<img src="http://localhost/img/new_map.png"> 
		</tr>
		<tr>
			<button class="button button-block button-positive" onClick=openLayer('userProfile/new_loading.html')>Register new catch</button>
			
		</tr>
		</table>

    </div>
  </div>
</body>